# Visual Studio C++ 项目编译&缓存文件
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.ncb
*.opendb
*.vc.db
*.vc.vc.opendb
*.ilk
*.pdb
*.obj
*.pch
*.idb
*.ipch
*.log
*.sdf
*.cache
# 临时/备份文件
~$*
*.bak
# 系统冗余文件
Thumbs.db
.DS_Store